#development version of configurations

server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/authdb
    username: root
    password: admin

#    hikari:
#      pool-name: HikariCP
#      maximum-pool-size: 5
#      connection-timeout: 10000
#      idle-timeout: 600000
#      max-lifetime: 1800000
#      validation-timeout: 1800000
#      leak-detection-threshold: 0
#      initialization-fail-timeout: -1

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: DEBUG

security:
  jwt:
      secret: ${JWT_SECRET:hsgKLyDvmGqa2q07bGmSX9nzNXkQDKq1qDMheGLyqkvJBNxY3RNnbR5ii0ed6ljBfd+iXRqZjsO6R45oAnpDjg==}
      issuer: ${JWT_ISSUER:api.auth.com}
      access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:3600}
      refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:86400}
      refresh-token-cookie-name: ${JWT_REFRESH_TOKEN_COOKIE_NAME:refreshToken}
      cookie-secure: ${JWT_COOKIE_SECURE:true}
      cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
      cookie-same-site: ${JWT_COOKIE_SAME_SITE:lax}